<tr class="bg-red-300">
  <td class="px-6 py-4 text-sm font-medium text-heavy whitespace-nowrap">
    <%= @line.original.title %>
  </td>
  <td class="px-6 py-4 text-sm text-primary whitespace-nowrap">
  </td>
  <td class="px-6 py-4 text-sm text-primary whitespace-nowrap">
    <%= friendly_version(@line.original.version) %>
  </td>
  <td class="px-6 py-4 text-sm text-primary whitespace-nowrap">
  </td>
</tr>
