<!DOCTYPE html>
<html lang="<%= current_locale() %>" class="<%= render_dark_mode?(@conn) %>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <meta content="<%= get_csrf_token() %>" name="csrf-token">

    <%= live_title_tag assigns[:page_title] || "Elixir School", suffix: " · Elixir School" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script phx-track-static src="<%= Routes.static_path(@conn, "/assets/initialize-theme.js") %>"></script>
    <script defer phx-track-static src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body class="preload dark:bg-body-dark">
    <%= render "_header.html", conn: @conn %>
    <%= @inner_content %>
    <%= render "_footer.html", conn: @conn %>
</html>
