<div class="bg-body dark:bg-body-dark">
  <div class="max-w-2xl px-4 py-16 mx-auto text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-purple dark:text-purple-dark sm:text-4xl">
      <span class="block">Translation unavailable</span>
    </h2>
    <p class="mt-4 text-lg text-primary dark:text-primary-dark leading-6">We're sorry, the resource you're looking for has not been translated yet.</p>
  </div>
</div>
