---
name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  Deploy:
    if: ${{ github.repository_owner == 'elixirschool' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --local-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
